# Paired SQL Datasets

## Goal

Notebook is part of a larger effort to translate artificial languages into each other: 
https://github.com/fastai/fastai/blob/master/courses/dl2/translate.ipynb
http://course.fast.ai/lessons/lesson11.html

We want to create a dataset, where we build pairs of 2 different SQL dialects with slightly different datamodels. This pair is analogous to what we do in natural language translation with translating e.g. french into english.

we use two standard DBs and their SQL dialatecs with a slightly different data model to build pairs of statements

## Databases SQL

### SQLite

In [14]:
## Every notebook starts with the following three lines; they ensure that any edits to libraries 
## you make are reloaded here automatically, and also that any charts or images displayed are shown in this notebook.

%matplotlib inline
%reload_ext autoreload
%autoreload 2

##import numpy as np
## import torch
import pandas as pd
from pandas import Series,DataFrame

import sqlite3

In [83]:
def insertChar(mystring, position, chartoinsert ):
    longi = len(mystring)
    mystring   =  mystring[:position] + chartoinsert + mystring[position:] 
    return mystring

In [84]:
## O Reilly: Python for Data Analysis, chapter 6.4. Interacting with Databases, p.189

drop = """DROP TABLE Customer;"""
query = """
 CREATE TABLE IF NOT EXISTS Customer (lastname VARCHAR(40), email VARCHAR(40), networth REAL);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(drop)
con.execute(query)
con.commit()

#### SQLite Inserts

In [85]:
amountinserts = 30

In [86]:
data ={0 : ('Mustermann', 'max.mustermann@email.de', 20000),
        1 : ('average', 'joe.average@email.com', 10000),
        2 : ('Piet', 'piet.yanneke@email.nl', 30000)
        }

sqlliteinsertlist =[]
i=1
while i < amountinserts:
    sqlliteinsert = "INSERT INTO Customer VALUES ("
    sqlliteinsert = sqlliteinsert + "\'" + data[i%len(data)][0] + str(i) + "\',"  + "\'" + insertChar(data[i%len(data)][1], data[i%len(data)][1].find('@'),str(i)) + "\'," + str(i * data[i%len(data)][2]) + ")" 
    con.execute(sqlliteinsert)
    sqlliteinsertlist.append(sqlliteinsert)
    i = i + 1

sqlliteinsertlist

["INSERT INTO Customer VALUES ('average1','joe.average1@email.com',10000)",
 "INSERT INTO Customer VALUES ('Piet2','piet.yanneke2@email.nl',60000)",
 "INSERT INTO Customer VALUES ('Mustermann3','max.mustermann3@email.de',60000)",
 "INSERT INTO Customer VALUES ('average4','joe.average4@email.com',40000)",
 "INSERT INTO Customer VALUES ('Piet5','piet.yanneke5@email.nl',150000)",
 "INSERT INTO Customer VALUES ('Mustermann6','max.mustermann6@email.de',120000)",
 "INSERT INTO Customer VALUES ('average7','joe.average7@email.com',70000)",
 "INSERT INTO Customer VALUES ('Piet8','piet.yanneke8@email.nl',240000)",
 "INSERT INTO Customer VALUES ('Mustermann9','max.mustermann9@email.de',180000)",
 "INSERT INTO Customer VALUES ('average10','joe.average10@email.com',100000)",
 "INSERT INTO Customer VALUES ('Piet11','piet.yanneke11@email.nl',330000)",
 "INSERT INTO Customer VALUES ('Mustermann12','max.mustermann12@email.de',240000)",
 "INSERT INTO Customer VALUES ('average13','joe.average13@email.com',130000)",
 "INSERT INTO Customer VALUES ('Piet14','piet.yanneke14@email.nl',420000)",
 "INSERT INTO Customer VALUES ('Mustermann15','max.mustermann15@email.de',300000)",
 "INSERT INTO Customer VALUES ('average16','joe.average16@email.com',160000)",
 "INSERT INTO Customer VALUES ('Piet17','piet.yanneke17@email.nl',510000)",
 "INSERT INTO Customer VALUES ('Mustermann18','max.mustermann18@email.de',360000)",
 "INSERT INTO Customer VALUES ('average19','joe.average19@email.com',190000)",
 "INSERT INTO Customer VALUES ('Piet20','piet.yanneke20@email.nl',600000)",
 "INSERT INTO Customer VALUES ('Mustermann21','max.mustermann21@email.de',420000)",
 "INSERT INTO Customer VALUES ('average22','joe.average22@email.com',220000)",
 "INSERT INTO Customer VALUES ('Piet23','piet.yanneke23@email.nl',690000)",
 "INSERT INTO Customer VALUES ('Mustermann24','max.mustermann24@email.de',480000)",
 "INSERT INTO Customer VALUES ('average25','joe.average25@email.com',250000)",
 "INSERT INTO Customer VALUES ('Piet26','piet.yanneke26@email.nl',780000)",
 "INSERT INTO Customer VALUES ('Mustermann27','max.mustermann27@email.de',540000)",
 "INSERT INTO Customer VALUES ('average28','joe.average28@email.com',280000)",
 "INSERT INTO Customer VALUES ('Piet29','piet.yanneke29@email.nl',870000)"]

In [87]:
con.commit()

In [88]:
cursor = con.execute('select lastname, email, networth from Customer')
rows = cursor.fetchall()
rows

[('average1', 'joe.average1@email.com', 10000.0),
 ('Piet2', 'piet.yanneke2@email.nl', 60000.0),
 ('Mustermann3', 'max.mustermann3@email.de', 60000.0),
 ('average4', 'joe.average4@email.com', 40000.0),
 ('Piet5', 'piet.yanneke5@email.nl', 150000.0),
 ('Mustermann6', 'max.mustermann6@email.de', 120000.0),
 ('average7', 'joe.average7@email.com', 70000.0),
 ('Piet8', 'piet.yanneke8@email.nl', 240000.0),
 ('Mustermann9', 'max.mustermann9@email.de', 180000.0),
 ('average10', 'joe.average10@email.com', 100000.0),
 ('Piet11', 'piet.yanneke11@email.nl', 330000.0),
 ('Mustermann12', 'max.mustermann12@email.de', 240000.0),
 ('average13', 'joe.average13@email.com', 130000.0),
 ('Piet14', 'piet.yanneke14@email.nl', 420000.0),
 ('Mustermann15', 'max.mustermann15@email.de', 300000.0),
 ('average16', 'joe.average16@email.com', 160000.0),
 ('Piet17', 'piet.yanneke17@email.nl', 510000.0),
 ('Mustermann18', 'max.mustermann18@email.de', 360000.0),
 ('average19', 'joe.average19@email.com', 190000.0),
 ('Piet20', 'piet.yanneke20@email.nl', 600000.0),
 ('Mustermann21', 'max.mustermann21@email.de', 420000.0),
 ('average22', 'joe.average22@email.com', 220000.0),
 ('Piet23', 'piet.yanneke23@email.nl', 690000.0),
 ('Mustermann24', 'max.mustermann24@email.de', 480000.0),
 ('average25', 'joe.average25@email.com', 250000.0),
 ('Piet26', 'piet.yanneke26@email.nl', 780000.0),
 ('Mustermann27', 'max.mustermann27@email.de', 540000.0),
 ('average28', 'joe.average28@email.com', 280000.0),
 ('Piet29', 'piet.yanneke29@email.nl', 870000.0)]

In [89]:
cursor.description

(('lastname', None, None, None, None, None, None),
 ('email', None, None, None, None, None, None),
 ('networth', None, None, None, None, None, None))

In [90]:
## transfer data to pandas
dfsqllitedata = pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
dfsqllitedata

        lastname                      email  networth
0       average1     joe.average1@email.com   10000.0
1          Piet2     piet.yanneke2@email.nl   60000.0
2    Mustermann3   max.mustermann3@email.de   60000.0
3       average4     joe.average4@email.com   40000.0
4          Piet5     piet.yanneke5@email.nl  150000.0
5    Mustermann6   max.mustermann6@email.de  120000.0
6       average7     joe.average7@email.com   70000.0
7          Piet8     piet.yanneke8@email.nl  240000.0
8    Mustermann9   max.mustermann9@email.de  180000.0
9      average10    joe.average10@email.com  100000.0
10        Piet11    piet.yanneke11@email.nl  330000.0
11  Mustermann12  max.mustermann12@email.de  240000.0
12     average13    joe.average13@email.com  130000.0
13        Piet14    piet.yanneke14@email.nl  420000.0
14  Mustermann15  max.mustermann15@email.de  300000.0
15     average16    joe.average16@email.com  160000.0
16        Piet17    piet.yanneke17@email.nl  510000.0
17  Mustermann18  max.mustermann18@email.de  360000.0
18     average19    joe.average19@email.com  190000.0
19        Piet20    piet.yanneke20@email.nl  600000.0
20  Mustermann21  max.mustermann21@email.de  420000.0
21     average22    joe.average22@email.com  220000.0
22        Piet23    piet.yanneke23@email.nl  690000.0
23  Mustermann24  max.mustermann24@email.de  480000.0
24     average25    joe.average25@email.com  250000.0
25        Piet26    piet.yanneke26@email.nl  780000.0
26  Mustermann27  max.mustermann27@email.de  540000.0
27     average28    joe.average28@email.com  280000.0
28        Piet29    piet.yanneke29@email.nl  870000.0

In [91]:
## TO DO transfer sqllite statement to pandas
dfsqllitestatements = pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
dfsqllitestatements

        lastname                      email  networth
0       average1     joe.average1@email.com   10000.0
1          Piet2     piet.yanneke2@email.nl   60000.0
2    Mustermann3   max.mustermann3@email.de   60000.0
3       average4     joe.average4@email.com   40000.0
4          Piet5     piet.yanneke5@email.nl  150000.0
5    Mustermann6   max.mustermann6@email.de  120000.0
6       average7     joe.average7@email.com   70000.0
7          Piet8     piet.yanneke8@email.nl  240000.0
8    Mustermann9   max.mustermann9@email.de  180000.0
9      average10    joe.average10@email.com  100000.0
10        Piet11    piet.yanneke11@email.nl  330000.0
11  Mustermann12  max.mustermann12@email.de  240000.0
12     average13    joe.average13@email.com  130000.0
13        Piet14    piet.yanneke14@email.nl  420000.0
14  Mustermann15  max.mustermann15@email.de  300000.0
15     average16    joe.average16@email.com  160000.0
16        Piet17    piet.yanneke17@email.nl  510000.0
17  Mustermann18  max.mustermann18@email.de  360000.0
18     average19    joe.average19@email.com  190000.0
19        Piet20    piet.yanneke20@email.nl  600000.0
20  Mustermann21  max.mustermann21@email.de  420000.0
21     average22    joe.average22@email.com  220000.0
22        Piet23    piet.yanneke23@email.nl  690000.0
23  Mustermann24  max.mustermann24@email.de  480000.0
24     average25    joe.average25@email.com  250000.0
25        Piet26    piet.yanneke26@email.nl  780000.0
26  Mustermann27  max.mustermann27@email.de  540000.0
27     average28    joe.average28@email.com  280000.0
28        Piet29    piet.yanneke29@email.nl  870000.0

#### SQLite Update

In [92]:
## TO DO (loop)
## sqlliteupdate1

#### SQLite Delete

In [93]:
## TO DO (loop)
## sqllitedelete1

#### SQLite Select

In [94]:
## TO DO (loop)
## sqlliteselect1

### SQL Mongo DB

https://www.w3schools.com/python/python_mongodb_getstarted.asp
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-os-x/#install-mongodb-community-edition

See: https://docs.brew.sh/Homebrew-and-Python
==> mongodb
To have launchd start mongodb now and restart at login:
  brew services start mongodb
Or, if you don't want/need a background service you can just run:
  mongod --config /usr/local/etc/mongod.conf

In [95]:
import pymongo

!brew services start mongodb
## !brew services stop mongodb
## !brew services restart mongodb

Service `mongodb` already started, use `brew services restart mongodb` to restart.

In [96]:
## MongoDB waits until you have created a collection (table), 
## with at least one document (record) before it actually creates the database (and collection).
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [97]:
dblist = myclient.list_database_names()

In [98]:
if "mydatabase" in dblist:
  print("The database exists.")

The database exists.

In [99]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase']

In [100]:
mycol = mydb["Clients"]
mycol.drop()
mycol = mydb["Clients"]
print(mydb.list_collection_names())

[]

In [101]:
collist = mydb.list_collection_names()
if "Clients" in collist:
  print("The collection exists.")

#### Mongo Inserts

In [102]:
##data ={0 : ('Mustermann', 'max.mustermann@email.de', 20000),
##        1 : ('average', 'joe.average@email.com', 10000),
##        2 : ('Piet', 'piet.yanneke@email.nl', 30000)
##        }

## Collection Clients, with slightly different column names and one less
mylist = [{ "name": "Mustermann", "emailid": "max.mustermann@email.de"}
            ,{ "name": "average", "emailid": "joe.average@email.com"}
            , {"name": "Piet", "emailid": "piet.yanneke@email.nl"}
         ]

## d = data['response']['globalstats']['heist_success']['history']
## result_dict = dict((i["date"],i["total"]) for i in d)

## mongoinsertlist ={}
mongoinsertlist =[]
i=1
mongoinserttest = mylist[i%len(mylist)]["name"]
mongoinserttest = []
## mongoinsertlist = "["
while i < amountinserts:
    mongoinsertnamekey = "name"
    mongoinsertnamevalue =  mylist[i%len(mylist)]["name"] + str(i)  ## '\"'  
    
    mongoinsertemailidkey = "emailid"
    mongoinsertemaildvalue =  mylist[i%len(mylist)]["emailid"] ## '\"'  ## insertChar(data[i%len(data)][1], data[i%len(data)][1].find('@'),str(i)) + "\'," + str(i * data[i%len(data)][2]) + ")"
    mongoinsertemaildvalue = insertChar(mongoinsertemaildvalue, mongoinsertemaildvalue.find('@'),str(i))
    
    client = { mongoinsertnamekey : mongoinsertnamevalue , mongoinsertemailidkey : mongoinsertemaildvalue }
    ##mycol.insert_one(mongoinsert)
    mongoinsertlist.append(client)
    i = i + 1
    
mongoinsertlist
##mylist

[{'name': 'average1', 'emailid': 'joe.average1@email.com'},
 {'name': 'Piet2', 'emailid': 'piet.yanneke2@email.nl'},
 {'name': 'Mustermann3', 'emailid': 'max.mustermann3@email.de'},
 {'name': 'average4', 'emailid': 'joe.average4@email.com'},
 {'name': 'Piet5', 'emailid': 'piet.yanneke5@email.nl'},
 {'name': 'Mustermann6', 'emailid': 'max.mustermann6@email.de'},
 {'name': 'average7', 'emailid': 'joe.average7@email.com'},
 {'name': 'Piet8', 'emailid': 'piet.yanneke8@email.nl'},
 {'name': 'Mustermann9', 'emailid': 'max.mustermann9@email.de'},
 {'name': 'average10', 'emailid': 'joe.average10@email.com'},
 {'name': 'Piet11', 'emailid': 'piet.yanneke11@email.nl'},
 {'name': 'Mustermann12', 'emailid': 'max.mustermann12@email.de'},
 {'name': 'average13', 'emailid': 'joe.average13@email.com'},
 {'name': 'Piet14', 'emailid': 'piet.yanneke14@email.nl'},
 {'name': 'Mustermann15', 'emailid': 'max.mustermann15@email.de'},
 {'name': 'average16', 'emailid': 'joe.average16@email.com'},
 {'name': 'Piet17', 'emailid': 'piet.yanneke17@email.nl'},
 {'name': 'Mustermann18', 'emailid': 'max.mustermann18@email.de'},
 {'name': 'average19', 'emailid': 'joe.average19@email.com'},
 {'name': 'Piet20', 'emailid': 'piet.yanneke20@email.nl'},
 {'name': 'Mustermann21', 'emailid': 'max.mustermann21@email.de'},
 {'name': 'average22', 'emailid': 'joe.average22@email.com'},
 {'name': 'Piet23', 'emailid': 'piet.yanneke23@email.nl'},
 {'name': 'Mustermann24', 'emailid': 'max.mustermann24@email.de'},
 {'name': 'average25', 'emailid': 'joe.average25@email.com'},
 {'name': 'Piet26', 'emailid': 'piet.yanneke26@email.nl'},
 {'name': 'Mustermann27', 'emailid': 'max.mustermann27@email.de'},
 {'name': 'average28', 'emailid': 'joe.average28@email.com'},
 {'name': 'Piet29', 'emailid': 'piet.yanneke29@email.nl'}]

In [103]:
##insertChar??

In [104]:
## mongoinsert1 = { "name": "Mustermann", "emailid": "max.mustermann@email.de"}
## mongoinsert2 = { "name": "average", "emailid": "joe.average@email.com"}
## mongoinsert3 = {"name": "Piet", "emailid": "piet.yanneke@email.nl"}

## x1 = mycol.insert_one(mongoinsert1)
## x2 = mycol.insert_one(mongoinsert2)
## x3 = mycol.insert_one(mongoinsert3)

## print(x1.inserted_id)
## print(x2.inserted_id)
## print(x3.inserted_id)

mycol.drop()
x = mycol.insert_many(mongoinsertlist)

In [105]:
## Get Data back
## for x in mycol.find({},{ "_id": 0, "name": 1, "emailid": 1 }):
##   print(x)

## myquery = { "name": "Mustermann" }
## mydoc = mycol.find(myquery)
## for x in mydoc:
##  print(x)

##for x in mycol.find():
##    print(x)
rowsmongoiterator = mycol.find({},{ "_id": 0, "name": 1, "emailid": 1 })
##rowsmongo
for x in rowsmongoiterator:
    ##rowsmongo = rowsmongo.add(x) ## append(x)
    print(x)
## rowsmongoiterator.explain

{'name': 'average1', 'emailid': 'joe.average1@email.com'}
{'name': 'Piet2', 'emailid': 'piet.yanneke2@email.nl'}
{'name': 'Mustermann3', 'emailid': 'max.mustermann3@email.de'}
{'name': 'average4', 'emailid': 'joe.average4@email.com'}
{'name': 'Piet5', 'emailid': 'piet.yanneke5@email.nl'}
{'name': 'Mustermann6', 'emailid': 'max.mustermann6@email.de'}
{'name': 'average7', 'emailid': 'joe.average7@email.com'}
{'name': 'Piet8', 'emailid': 'piet.yanneke8@email.nl'}
{'name': 'Mustermann9', 'emailid': 'max.mustermann9@email.de'}
{'name': 'average10', 'emailid': 'joe.average10@email.com'}
{'name': 'Piet11', 'emailid': 'piet.yanneke11@email.nl'}
{'name': 'Mustermann12', 'emailid': 'max.mustermann12@email.de'}
{'name': 'average13', 'emailid': 'joe.average13@email.com'}
{'name': 'Piet14', 'emailid': 'piet.yanneke14@email.nl'}
{'name': 'Mustermann15', 'emailid': 'max.mustermann15@email.de'}
{'name': 'average16', 'emailid': 'joe.average16@email.com'}
{'name': 'Piet17', 'emailid': 'piet.yanneke17@email.nl'}
{'name': 'Mustermann18', 'emailid': 'max.mustermann18@email.de'}
{'name': 'average19', 'emailid': 'joe.average19@email.com'}
{'name': 'Piet20', 'emailid': 'piet.yanneke20@email.nl'}
{'name': 'Mustermann21', 'emailid': 'max.mustermann21@email.de'}
{'name': 'average22', 'emailid': 'joe.average22@email.com'}
{'name': 'Piet23', 'emailid': 'piet.yanneke23@email.nl'}
{'name': 'Mustermann24', 'emailid': 'max.mustermann24@email.de'}
{'name': 'average25', 'emailid': 'joe.average25@email.com'}
{'name': 'Piet26', 'emailid': 'piet.yanneke26@email.nl'}
{'name': 'Mustermann27', 'emailid': 'max.mustermann27@email.de'}
{'name': 'average28', 'emailid': 'joe.average28@email.com'}
{'name': 'Piet29', 'emailid': 'piet.yanneke29@email.nl'}

In [106]:
## TO DO: doesnt work yet, but no problem. We want to zip the sql statements not the data
## transfer data to pandas
##dfmongodata = pd.DataFrame(rowsmongo)
##dfmongodata

#### Mongo Updates

In [107]:
## TO DO (loop)
## mongoupdate1

#### Mongo Deletes

In [108]:
## TO DO (loop)
## mongodelete1

#### Mongo Selects

In [109]:
## TO DO (loop)
## mongoselect1

## Building pairs of SQLs

Target format, same as for natural languages. Only the dot might not mark a sentence end, even though we could just add it.

http://www.manythings.org/anki/

    I'm ill.	Ik ben ziek.
    I'm sad.	Ik ben bedroefd.
    It's me!	Ik ben het.
    It's me.	Ik ben het.
    Join us.	Kom met ons mee.
    Join us.	Doe maar mee.
    Join us.	Kom maar meedoen.
    Join us.	Sluit je aan.
    Join us.	Sluit je bij ons aan.
    Keep it.	Houd het.
    See you!	Tot weerziens!
    Shut up!	Zwijg!
    Stop it.	Hou daar toch mee op.
    
Note, we need to make variable immutable, also we have a limited set of keywords (...)

We do this with Panda .... we take the respective Insert, and Select statemeents from above.

In [110]:
## zip a dataframe of 


##mongoinsertlist = [mongoinsert1, mongoinsert1, mongoinsert3]
## sqlliteinsert1 mongoinsert1
## sqlliteinsert2 mongoinsert2
## sqlliteinsert3 mongoinsert3

## sqlliteinsert1 : "INSERT INTO Customer VALUES ('Mustermann', 'max.mustermann@email.de', 20000)"
## mongoinsert1 : {'name': 'Mustermann', 'emailid': 'max.mustermann@email.de', '_id': ObjectId('5bd5aad637b8896cc56ea929')}

sql_tuples = list(zip(sqlliteinsertlist,mongoinsertlist ))
pd.DataFrame(sql_tuples, columns=['sqllite','mongo'])

,sqllite,mongo
0,"INSERT INTO Customer VALUES ('average1','joe.a...","{'name': 'average1', 'emailid': 'joe.average1@..."
1,"INSERT INTO Customer VALUES ('Piet2','piet.yan...","{'name': 'Piet2', 'emailid': 'piet.yanneke2@em..."
2,"INSERT INTO Customer VALUES ('Mustermann3','ma...","{'name': 'Mustermann3', 'emailid': 'max.muster..."
3,"INSERT INTO Customer VALUES ('average4','joe.a...","{'name': 'average4', 'emailid': 'joe.average4@..."
4,"INSERT INTO Customer VALUES ('Piet5','piet.yan...","{'name': 'Piet5', 'emailid': 'piet.yanneke5@em..."
5,"INSERT INTO Customer VALUES ('Mustermann6','ma...","{'name': 'Mustermann6', 'emailid': 'max.muster..."
6,"INSERT INTO Customer VALUES ('average7','joe.a...","{'name': 'average7', 'emailid': 'joe.average7@..."
7,"INSERT INTO Customer VALUES ('Piet8','piet.yan...","{'name': 'Piet8', 'emailid': 'piet.yanneke8@em..."
8,"INSERT INTO Customer VALUES ('Mustermann9','ma...","{'name': 'Mustermann9', 'emailid': 'max.muster..."
9,"INSERT INTO Customer VALUES ('average10','joe....","{'name': 'average10', 'emailid': 'joe.average1..."
10,"INSERT INTO Customer VALUES ('Piet11','piet.ya...","{'name': 'Piet11', 'emailid': 'piet.yanneke11@..."
11,"INSERT INTO Customer VALUES ('Mustermann12','m...","{'name': 'Mustermann12', 'emailid': 'max.muste..."
12,"INSERT INTO Customer VALUES ('average13','joe....","{'name': 'average13', 'emailid': 'joe.average1..."
13,"INSERT INTO Customer VALUES ('Piet14','piet.ya...","{'name': 'Piet14', 'emailid': 'piet.yanneke14@..."
14,"INSERT INTO Customer VALUES ('Mustermann15','m...","{'name': 'Mustermann15', 'emailid': 'max.muste..."
15,"INSERT INTO Customer VALUES ('average16','joe....","{'name': 'average16', 'emailid': 'joe.average1..."
16,"INSERT INTO Customer VALUES ('Piet17','piet.ya...","{'name': 'Piet17', 'emailid': 'piet.yanneke17@..."
17,"INSERT INTO Customer VALUES ('Mustermann18','m...","{'name': 'Mustermann18', 'emailid': 'max.muste..."
18,"INSERT INTO Customer VALUES ('average19','joe....","{'name': 'average19', 'emailid': 'joe.average1..."
19,"INSERT INTO Customer VALUES ('Piet20','piet.ya...","{'name': 'Piet20', 'emailid': 'piet.yanneke20@..."
20,"INSERT INTO Customer VALUES ('Mustermann21','m...","{'name': 'Mustermann21', 'emailid': 'max.muste..."
21,"INSERT INTO Customer VALUES ('average22','joe....","{'name': 'average22', 'emailid': 'joe.average2..."
22,"INSERT INTO Customer VALUES ('Piet23','piet.ya...","{'name': 'Piet23', 'emailid': 'piet.yanneke23@..."
23,"INSERT INTO Customer VALUES ('Mustermann24','m...","{'name': 'Mustermann24', 'emailid': 'max.muste..."
24,"INSERT INTO Customer VALUES ('average25','joe....","{'name': 'average25', 'emailid': 'joe.average2..."
25,"INSERT INTO Customer VALUES ('Piet26','piet.ya...","{'name': 'Piet26', 'emailid': 'piet.yanneke26@..."
26,"INSERT INTO Customer VALUES ('Mustermann27','m...","{'name': 'Mustermann27', 'emailid': 'max.muste..."
27,"INSERT INTO Customer VALUES ('average28','joe....","{'name': 'average28', 'emailid': 'joe.average2..."
28,"INSERT INTO Customer VALUES ('Piet29','piet.ya...","{'name': 'Piet29', 'emailid': 'piet.yanneke29@..."

## Word Vectors - Simple

In [30]:
import torch
from torch.autograd import Variable
import numpy as np
import torch.functional as F
import torch.nn.functional as F

We need a list of words of the SQL dialect. Any other tokens are variables. Variables need to be immutable, that can be learnt by the model or we hardcode that. 

Can we run over docs or tickets of SQL to create word vectors?

https://stackoverflow.com/search?q=postgres

https://lxml.de/
http://docs.python-requests.org/en/latest/

http://adventuresinmachinelearning.com/word2vec-tutorial-tensorflow/

http://nlp.fast.ai/category/classification.html
http://nlp.fast.ai/classification/2018/05/15/introducting-ulmfit.html

https://towardsdatascience.com/implementing-word2vec-in-pytorch-skip-gram-model-e6bae040d2fb

https://gist.github.com/mbednarski/da08eb297304f7a66a3840e857e060a0

https://adoni.github.io/2017/11/08/word2vec-pytorch/


https://gist.github.com/GavinXing/9954ea846072e115bb07d9758892382c

In [31]:
## following blog: https://towardsdatascience.com/implementing-word2vec-in-pytorch-skip-gram-model-e6bae040d2fb
## this should get replaced by sql statements of both databases
corpus = [
    'he is a king',
    'she is a queen',
    'he is a man',
    'she is a woman',
    'warsaw is poland capital',
    'berlin is germany capital',
    'paris is france capital',
]

In [32]:
## simplification, for 
def tokenize_corpus(corpus):
    tokens = [x.split() for x in corpus]
    return tokens

tokenized_corpus = tokenize_corpus(corpus)

tokenized_corpus

[['he', 'is', 'a', 'king'],
 ['she', 'is', 'a', 'queen'],
 ['he', 'is', 'a', 'man'],
 ['she', 'is', 'a', 'woman'],
 ['warsaw', 'is', 'poland', 'capital'],
 ['berlin', 'is', 'germany', 'capital'],
 ['paris', 'is', 'france', 'capital']]

In [33]:
vocabulary = []
for sentence in tokenized_corpus:
    for token in sentence:
        if token not in vocabulary:
            vocabulary.append(token)

word2idx = {w: idx for (idx, w) in enumerate(vocabulary)}
print(word2idx)
idx2word = {idx: w for (idx, w) in enumerate(vocabulary)}
print(idx2word)

vocabulary_size = len(vocabulary)
print(vocabulary_size)

{'he': 0, 'is': 1, 'a': 2, 'king': 3, 'she': 4, 'queen': 5, 'man': 6, 'woman': 7, 'warsaw': 8, 'poland': 9, 'capital': 10, 'berlin': 11, 'germany': 12, 'paris': 13, 'france': 14}
{0: 'he', 1: 'is', 2: 'a', 3: 'king', 4: 'she', 5: 'queen', 6: 'man', 7: 'woman', 8: 'warsaw', 9: 'poland', 10: 'capital', 11: 'berlin', 12: 'germany', 13: 'paris', 14: 'france'}
15

In [34]:
## TO DO: what is this?

##We can now generate pairs center word, context word. 
##Let’s assume context window to be symmetric and equal to 2.

window_size = 2
idx_pairs = []
# for each sentence
for sentence in tokenized_corpus:
    indices = [word2idx[word] for word in sentence]
    # for each word, threated as center word
    for center_word_pos in range(len(indices)):
        # for each window position
        for w in range(-window_size, window_size + 1):
            context_word_pos = center_word_pos + w
            # make soure not jump out sentence
            if context_word_pos < 0 or context_word_pos >= len(indices) or center_word_pos == context_word_pos:
                continue
            context_word_idx = indices[context_word_pos]
            idx_pairs.append((indices[center_word_pos], context_word_idx))

idx_pairs = np.array(idx_pairs) # it will be useful to have this as numpy array

It gives us list of pairs center, context indices, 

array([[ 0,  1],
       [ 0,  2],
       ...

Which can be easily translated to words:

he is
he a
is he
is a
is king
a he
a is
a king

### Input layer
Input layer is just the center word encoded in one-hot manner. It dimensions are [1, vocabulary_size]

In [35]:
def get_input_layer(word_idx):
    x = torch.zeros(vocabulary_size).float()
    x[word_idx] = 1.0
    return x

### Hidden layer 

Hidden Layers makes our v vectors. Therefore it has to have embedding_dims neurons. To compute it value we have to define W1 weight matrix. Of course its has to be [embedding_dims, vocabulary_size]. There is no activation function — just plain matrix multiplication.

x is one-hot and if you multiply one-hot vector by matrix, the result is same as selecting select single column from it. Therefore, each column of W1 stores v vector for single word.

In [36]:
embedding_dims = 5
W1 = Variable(torch.randn(embedding_dims, vocabulary_size).float(), requires_grad=True)
W2 = Variable(torch.randn(vocabulary_size, embedding_dims).float(), requires_grad=True)
num_epochs = 101
learning_rate = 0.001

for epo in range(num_epochs):
    loss_val = 0
    for data, target in idx_pairs:
        x = Variable(get_input_layer(data)).float()
        y_true = Variable(torch.from_numpy(np.array([target])).long())

        z1 = torch.matmul(W1, x)
        z2 = torch.matmul(W2, z1)
    
        log_softmax = F.log_softmax(z2, dim=0)

        loss = F.nll_loss(log_softmax.view(1,-1), y_true)
        loss_val += loss.data[0]
        loss.backward()
        W1.data -= learning_rate * W1.grad.data
        W2.data -= learning_rate * W2.grad.data

        W1.grad.data.zero_()
        W2.grad.data.zero_()
    if epo % 10 == 0:    
        print(f'Loss at epo {epo}: {loss_val/len(idx_pairs)}')

/Users/bherudek/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: UserWarning: invalid index of a 0-dim tensor. This will be an error in PyTorch 0.5. Use tensor.item() to convert a 0-dim tensor to a Python number

Loss at epo 0: 4.759732723236084
Loss at epo 10: 4.197955131530762
Loss at epo 20: 3.7988269329071045
Loss at epo 30: 3.516937732696533
Loss at epo 40: 3.3159615993499756
Loss at epo 50: 3.1684799194335938
Loss at epo 60: 3.0558013916015625
Loss at epo 70: 2.9662201404571533
Loss at epo 80: 2.8926713466644287
Loss at epo 90: 2.830836534500122
Loss at epo 100: 2.7779338359832764

### Output layer

Last layer must have vocabulary_size neurons — because it generates probabilities for each word. Therefore, W2 is [vocabulary_size, embedding_dims] in terms of shape.

In [16]:
W2 = Variable(torch.randn(vocabulary_size, embedding_dims).float(), requires_grad=True)
z2 = torch.matmul(W2, z1)

NameError: name 'Variable' is not defined

On top on that we have to use softmax layer. PyTorch provides optimized version of this, combined with log — because regular softmax is not really numerically stable:

In [17]:
log_softmax = F.log_softmax(a2, dim=0)

NameError: name 'F' is not defined

This is equivalent to compute softmax and after that applying log.Now we can compute the loss. As usual PyTorch provides everything we need.

The nll_loss computes negative-log-likelihood on logsoftmax. y_true is context word — we want to make this as high as possible — because pair x, y_true is from training data — so the are indeed center, context.

In [18]:
loss = F.nll_loss(log_softmax.view(1,-1), y_true)

NameError: name 'F' is not defined

### Backprop

In [ ]:
loss.backward()

For optimization SDG is used. It is so simple, that it was faster to write it by hand instead of creating optimizer object:

In [ ]:
W1.data -= 0.01 * W1.grad.data
W2.data -= 0.01 * W2.grad.data

Last step is to zero gradients to make next pass clear:

In [20]:
W1.grad.data.zero_()
W2.grad.data.zero_()

NameError: name 'W1' is not defined

### Training Loop

One potentially tricky thing is y_true definition. We do not create one-hot explicitly — nll_loss does it by itself.

In [21]:
embedding_dims = 5
W1 = Variable(torch.randn(embedding_dims, vocabulary_size).float(), requires_grad=True)
W2 = Variable(torch.randn(vocabulary_size, embedding_dims).float(), requires_grad=True)
num_epochs = 100
learning_rate = 0.001

for epo in range(num_epochs):
    loss_val = 0
    for data, target in idx_pairs:
        x = Variable(get_input_layer(data)).float()
        y_true = Variable(torch.from_numpy(np.array([target])).long())

        z1 = torch.matmul(W1, x)
        z2 = torch.matmul(W2, z1)
    
        log_softmax = F.log_softmax(z2, dim=0)

        loss = F.nll_loss(log_softmax.view(1,-1), y_true)
        loss_val += loss.data[0]
        loss.backward()
        W1.data -= learning_rate * W1.grad.data
        W2.data -= learning_rate * W2.grad.data

        W1.grad.data.zero_()
        W2.grad.data.zero_()
    if epo % 10 == 0:    
        print(f'Loss at epo {epo}: {loss_val/len(idx_pairs)}')

NameError: name 'Variable' is not defined

### Extract Words

Ok, we have trained the network. One, last thing is to extract vectors for words. It is possible in three ways:

- Use vector v from W1
- Use vector u from W2
- Use average v and u

### List of Language Tokens

### List of Variables

### Build a word vector manually

Artificial SQL languages are less complex, building a word vector and a language model is easy (). 

One consider building a word vector from a documentation (?) or log file (?). The issue is, we only want SQL not the log constructus or natural language around it

## Word Vectors fas.ai

### Preparations

https://github.com/fastai/word-embeddings-workshop

https://www.youtube.com/watch?v=25nC0n9ERq4

In [37]:
import pickle
import numpy as np
import re
import json

In [38]:
np.set_printoptions(precision=4, suppress=True)

The dataset is available at http://files.fast.ai/models/glove/6B.100d.tgz To download and unzip the files from the command line, you can run:

- wget http://files.fast.ai/models/glove_50_glove_100.tgz 
- Mac: curl -O http://files.fast.ai/models/glove_50_glove_100.tgz    
- tar xvzf glove_50_glove_100.tgz

You will need to update the path below to be accurate for where you are storing the data.

In [45]:
##!pwd
##!curl -O http://files.fast.ai/models/glove_50_glove_100.tgz    
##!tar xvzf glove_50_glove_100.tgz
##!ls -ltr

In [46]:
vecs = np.load("glove_vectors_100d.npy")
vecs50 = np.load("glove_vectors_50d.npy")

### Checking Data

In [47]:
with open('words.txt') as f:
    content = f.readlines()
words = [x.strip() for x in content]

In [48]:
wordidx = json.load(open('wordsidx.txt'))

In [49]:
len(words)

400000

In [50]:
words[:10]

['the', ',', '.', 'of', 'to', 'and', 'in', 'a', '"', "'s"]

In [51]:
words[600:610]

['together',
 'congress',
 'index',
 'australia',
 'results',
 'hard',
 'hours',
 'land',
 'action',
 'higher']

In [52]:
type(wordidx)

dict

In [53]:
wordidx['feminist']

11853

In [54]:
words[11853]

'feminist'

### Word as Vectors

The word "intelligence" is represented by the 100 dimensional vector:

In [55]:
type(vecs)

numpy.ndarray

In [56]:
vecs[11853]

array([ 0.296 ,  0.7626, -0.9866,  0.3776,  0.3194,  0.8286, -0.1686,
       -1.4558,  0.1965,  0.3854, -0.3348, -0.6503, -0.2528, -0.11  ,
       -0.1545,  0.5354, -0.4527, -0.0516,  0.1312,  0.0744,  0.5001,
        0.2151,  0.0688,  0.4347,  0.261 , -0.0371,  0.1385, -1.518 ,
        0.0641,  0.149 , -0.0314,  0.5038,  0.2839,  0.3457, -0.4411,
       -0.3459, -0.2118,  0.5651, -0.088 , -0.0438, -1.2228,  0.6039,
       -0.23  ,  0.2287, -0.2695, -0.9398,  0.2376,  0.3302, -0.2422,
        0.6359,  0.1347,  0.5542,  0.1432,  0.2861,  0.0216, -0.7437,
        0.3508,  0.362 ,  0.5566,  0.3403,  0.3613,  0.5185, -0.5437,
       -0.285 ,  1.1831, -0.1192,  0.2473,  0.0614,  0.4436, -0.244 ,
        0.2016,  0.5143, -0.4695, -0.0974, -0.9836, -0.3594,  0.3903,
       -0.517 , -0.1659, -1.2132, -1.3228,  0.0578,  0.7022,  0.3492,
       -0.9103, -0.381 , -0.1545,  0.4467, -0.009 , -0.9838,  1.0114,
       -0.227 ,  0.2697,  0.1566,  0.5613,  0.1175, -0.5755, -0.6324,
        0.1052,  1.2465], dtype=float32)

This lets us do some useful calculations. For instance, we can see how far apart two words are using a distance metric:

In [57]:
from scipy.spatial.distance import cosine as dist

Smaller numbers mean two words are closer together, larger numbers mean they are further apart.

The distance between similar words is low:

In [58]:
dist(vecs[wordidx["puppy"]], vecs[wordidx["dog"]])

0.27636247873306274

In [59]:
dist(vecs[wordidx["queen"]], vecs[wordidx["princess"]])

0.20527541637420654

And the distance between unrelated words is high:

In [60]:
dist(vecs[wordidx["celebrity"]], vecs[wordidx["dusty"]])

0.9883578838780522

In [61]:
dist(vecs[wordidx["kitten"]], vecs[wordidx["airplane"]])

0.8729851841926575

In [62]:
dist(vecs[wordidx["avalanche"]], vecs[wordidx["antique"]])

0.9621107056736946

### Bias

In [63]:
## Continue at Bias

## APPENDIX

### MYSql

https://www.w3schools.com/python/python_mysql_getstarted.asp

To have launchd start mysql now and restart at login:
  brew services start mysql
Or, if you don't want/need a background service you can just run:
  mysql.server start
  
  cnx = mysql.connector.connect(user='lcherukuri', password='password',
                              host='127.0.0.1', database='test',
                              auth_plugin='mysql_native_password')

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  passwd="yourpassword",
  auth_plugin="mysql_native_password"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

### SQLAlchemy

## sqllite does the same thing: hardcoded while we want to train a model
## https://www.sqlalchemy.org/

import sqlalchemy as sqla

db = sqla.create_engine('sqlite:///mydata.sqlite')

pd.read_sql('select lastname, email, networth from Customer', db)

### Other python drivers

- PYODBC: https://pypi.org/project/pyodbc/
- psycopg2: http://initd.org/psycopg/
- MySQLdb:
    https://dev.mysql.com/downloads/connector/python/
    https://www.w3schools.com/python/python_mysql_create_db.asp
- pymssql: http://www.pymssql.org/en/stable/
- https://www.w3schools.com/python/python_mongodb_getstarted.asp 
--> next step could be translating to such a document based DB

### Postgres SQL

In [28]:
# postgrese
# https://www.postgresql.org/docs/9.4/static/sql.html
# http://initd.org/psycopg/

# import psycopg2

# Connect to an existing database
# conn = psycopg2.connect("dbname=test user=postgres")

# Open a cursor to perform database operations
# cur = conn.cursor()

# Execute a command: this creates a new table
# cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")

# Pass data to fill a query placeholders and let Psycopg perform
# the correct conversion (no more SQL injections!)
# cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)",    (100, "abc'def"))

# Query the database and obtain data as Python objects
# cur.execute("SELECT * FROM test;")
# cur.fetchone()
# (1, 100, "abc'def")

# Make the changes to the database persistent
# conn.commit()

# Close communication with the database
# cur.close()
# conn.close()