# Paired SQL Datasets

Notebook is part of a larger effort to translate artificial languages into each other: 
https://github.com/fastai/fastai/blob/master/courses/dl2/translate.ipynb
http://course.fast.ai/lessons/lesson11.html

In [203]:
## Every notebook starts with the following three lines; they ensure that any edits to libraries 
## you make are reloaded here automatically, and also that any charts or images displayed are shown in this notebook.

%matplotlib inline
%reload_ext autoreload
%autoreload 2

import pandas as pd
from pandas import Series,DataFrame

import sqlite3

## Goal

We want to create a dataset, where we build pairs of 2 different SQL dialects with slightly different datamodels. This pair is analogous to what we do in natural language translation with translating e.g. french into english.

we use two standard DBs and their SQL dialatecs with a slightly different data model to build pairs of statements

## Databases SQL

### SQLite

In [204]:
## O Reilly: Python for Data Analysis, chapter 6.4. Interacting with Databases, p.189

drop = """DROP TABLE Customer;"""
query = """
 CREATE TABLE IF NOT EXISTS Customer (lastname VARCHAR(40), email VARCHAR(40), networth REAL);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(drop)
con.execute(query)
con.commit()

In [205]:
data = [('Mustermann', 'max.mustermann@email.de', 20000),
        ('average', 'joe.average@email.com', 20000),
        ('Piet', 'piet.yanneke@email.nl', 20000)
       ]
stmt = "INSERT INTO Customer VALUES (?,?,?)"

con.executemany(stmt,data)

In [206]:
con.commit()

In [207]:
cursor = con.execute('select lastname, email, networth from Customer')
rows = cursor.fetchall()
rows

[('Mustermann', 'max.mustermann@email.de', 20000.0),
 ('average', 'joe.average@email.com', 20000.0),
 ('Piet', 'piet.yanneke@email.nl', 20000.0)]

In [208]:
cursor.description

(('lastname', None, None, None, None, None, None),
 ('email', None, None, None, None, None, None),
 ('networth', None, None, None, None, None, None))

In [209]:
## transfer to pandas
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

     lastname                    email  networth
0  Mustermann  max.mustermann@email.de   20000.0
1     average    joe.average@email.com   20000.0
2        Piet    piet.yanneke@email.nl   20000.0

## SQL Mongo DB

https://www.w3schools.com/python/python_mongodb_getstarted.asp
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-os-x/#install-mongodb-community-edition

See: https://docs.brew.sh/Homebrew-and-Python
==> mongodb
To have launchd start mongodb now and restart at login:
  brew services start mongodb
Or, if you don't want/need a background service you can just run:
  mongod --config /usr/local/etc/mongod.conf

In [210]:
import pymongo

In [211]:
!brew services start mongodb
## !brew services stop mongodb
## !brew services restart mongodb

Service `mongodb` already started, use `brew services restart mongodb` to restart.

In [212]:
## MongoDB waits until you have created a collection (table), 
## with at least one document (record) before it actually creates the database (and collection).
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [213]:
dblist = myclient.list_database_names()

In [214]:
if "mydatabase" in dblist:
  print("The database exists.")

In [215]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [216]:
mycol = mydb["Clients"]
mycol.drop()
mycol = mydb["Clients"]
print(mydb.list_collection_names())

[]

In [217]:
collist = mydb.list_collection_names()
if "Clients" in collist:
  print("The collection exists.")

In [218]:
## Table Customer: lastname VARCHAR(40), email VARCHAR(40), networth REAL)
## data = [('Mustermann', 'max.mustermann@email.de', 20000),
##        ('average', 'joe.average@email.com', 20000),
##         ('Piet', 'piet.yanneke@email.nl', 20000)

## Collection Clients, with slightly different column names and one less
mylist = [{ "name": "Mustermann", "emailid": "max.mustermann@email.de"}
            ,{ "name": "average", "emailid": "joe.average@email.com"}
            , {"name": "Piet", "emailid": "piet.yanneke@email.nl"}
         ]

In [219]:
x = mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('5bcc62e737b8891392b9bf5f'), ObjectId('5bcc62e737b8891392b9bf60'), ObjectId('5bcc62e737b8891392b9bf61')]

## Building pairs of SQLs

Target format: http://www.manythings.org/anki/

    I'm ill.	Ik ben ziek.
    I'm sad.	Ik ben bedroefd.
    It's me!	Ik ben het.
    It's me.	Ik ben het.
    Join us.	Kom met ons mee.
    Join us.	Doe maar mee.
    Join us.	Kom maar meedoen.
    Join us.	Sluit je aan.
    Join us.	Sluit je bij ons aan.
    Keep it.	Houd het.
    See you!	Tot weerziens!
    Shut up!	Zwijg!
    Stop it.	Hou daar toch mee op.
    
Note, we need to make variable immutable, also we have a limited set of keywords (...)

We do this with Panda .... we take the respective Insert, and Select statemeents from above.

## APPENDIX

### MYSql

https://www.w3schools.com/python/python_mysql_getstarted.asp

To have launchd start mysql now and restart at login:
  brew services start mysql
Or, if you don't want/need a background service you can just run:
  mysql.server start
  
  cnx = mysql.connector.connect(user='lcherukuri', password='password',
                              host='127.0.0.1', database='test',
                              auth_plugin='mysql_native_password')

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  passwd="yourpassword",
  auth_plugin="mysql_native_password"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

### SQLAlchemy

## sqllite does the same thing: hardcoded while we want to train a model
## https://www.sqlalchemy.org/

import sqlalchemy as sqla

db = sqla.create_engine('sqlite:///mydata.sqlite')

pd.read_sql('select lastname, email, networth from Customer', db)

### Other python drivers

- PYODBC: https://pypi.org/project/pyodbc/
- psycopg2: http://initd.org/psycopg/
- MySQLdb:
    https://dev.mysql.com/downloads/connector/python/
    https://www.w3schools.com/python/python_mysql_create_db.asp
- pymssql: http://www.pymssql.org/en/stable/
- https://www.w3schools.com/python/python_mongodb_getstarted.asp 
--> next step could be translating to such a document based DB

### Postgres SQL

In [220]:
# postgrese
# https://www.postgresql.org/docs/9.4/static/sql.html
# http://initd.org/psycopg/

# import psycopg2

# Connect to an existing database
# conn = psycopg2.connect("dbname=test user=postgres")

# Open a cursor to perform database operations
# cur = conn.cursor()

# Execute a command: this creates a new table
# cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")

# Pass data to fill a query placeholders and let Psycopg perform
# the correct conversion (no more SQL injections!)
# cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)",    (100, "abc'def"))

# Query the database and obtain data as Python objects
# cur.execute("SELECT * FROM test;")
# cur.fetchone()
# (1, 100, "abc'def")

# Make the changes to the database persistent
# conn.commit()

# Close communication with the database
# cur.close()
# conn.close()